<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
<script type="text/javascript" src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //inciando com fadein
        $("body").fadeTo('slow', 1);

        //máscara de ip
        $("#ip").mask("000.000.099.099");
        $("#ip_alteracao").mask("000.000.099.099");

        //Envia o formulario de cadastro para controller
        $("#formDispositivo").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: 'index.php?page=model&funcao=cadastar',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        swal({
                            title: data.titulo,
                            text: data.mensagem,
                            type: "success",
                            showCancelButton: true,
                            showConfirmButton: true,
                            confirmButtonText: "Sim",
                            cancelButtonText: "Não",
                            closeOnConfirm: true
                        }, function (a) {
                            if (a) {
                                $("#formDispositivo")[0].reset();
                                $("#hostname").focus();
                            } else {
                                location.reload();
                            }
                        });
                    } else {
                        swal(data.titulo, data.mensagem, 'error')
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });

        $("button[type=button]").click(function () {
            var id = $(this).val();

            //Ativar
            if ($(this).hasClass("btn-danger")) {
                swal({
                    title: "Inativar Dispostivo",
                    text: "Você deseja inativar esse dispostivo?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Sim",
                    confirmButtonClass: "btn-default",
                    cancelButtonText: "Não",
                    cancelButtonClass: "btn-danger",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (a) {
                    if (a) {
                        $.ajax({
                            url: 'index.php?page=model&funcao=status&par=inativar',
                            type: 'POST',
                            data: {id_dispositivo: id},
                            dataType: 'json',
                            success: function (data) {
                                if (data.status) {
                                    swal("Dispositivo Inativado Com Sucesso", '', 'success')
                                } else {
                                    swal("Erro Ao Inativar Dispositivo", '', 'error')
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('ERRORS: ' + textStatus);
                            }
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        swal("Cancelado", "Esse dispositivo constinua ativo!", 'error')
                    }
                });
                //Inativar
            } else if ($(this).hasClass("btn-info")) {
                swal({
                    title: "Ativar Dispostivo",
                    text: "Você deseja ativar esse dispostivo?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Sim",
                    confirmButtonClass: "btn-primary",
                    cancelButtonText: "Não",
                    cancelButtonClass: "btn-default",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (a) {
                    if (a) {
                        $.ajax({
                            url: 'index.php?page=model&funcao=status&par=ativar',
                            type: 'POST',
                            data: {id_dispositivo: id},
                            dataType: 'json',
                            success: function (data) {
                                if (data.status) {
                                    swal("Dispositivo Ativado Com Sucesso", '', 'success')
                                } else {
                                    swal("Erro Ao Ativar Dispositivo", '', 'error')
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('ERRORS: ' + textStatus);
                            }
                        });
                    } else {
                        swal("Cancelado", "Esse dispositivo constinua inativo!", 'error')
                    }
                });
                setTimeout(function () {
                    location.reload();
                }, 2000);
                //Alterar
            } else {
                $.ajax({
                    url: 'index.php?page=model&funcao=consultar',
                    type: 'POST',
                    data: {id_dispositivo: id},
                    dataType: 'json',
                    success: function (data) {
                        for (var i = 0; i < 6; i++) {
                            $("#formDispositivoAlteracao")[0][i].value = data[i];
                        }

                        $("#alteracao").fadeTo(500, 1);
                        $("#collapseThree").collapse('show');
                        $("#collapseOne").collapse('hide');
                        $("#tituloAlteracao").html('ALTERAÇÃO DO DISPOSITIVO: '+data[0]);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('ERRORS: ' + textStatus);
                    }
                });
            }
        });


        //Envia o formulario de alteracao para controller
        $("#formDispositivoAlteracao").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: 'index.php?page=model&funcao=editar',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        swal(data.titulo, data.mensagem, 'success');
                    } else {
                        swal(data.titulo, data.mensagem, 'error');
                    }
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
        
        $("#tipo_hash").change(function(){
            if($(this).val()==2){
                $("#div_chave").show();
                $("#chave").prop("disabled",0);
            }
            else{
                $("#div_chave").hide();
                $("#chave").prop("disabled",1);
            }
        });
        
       //Envia o formulario de alteracao para controller
        $("#formHash").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: 'index.php?page=hash',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        swal("Sucesso", "SÃO IGUAIS", 'success');
                    } else {
                        swal("Ops", "SÃO DIFRENTES", 'error');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
        
        $("#criptografar").click(function(){
            $("#metodo").val('1');
        });
        $("#descriptografar").click(function(){
            $("#metodo").val('2');
        });
        
        $("#formCriptografia").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $.ajax({
                url: 'index.php?page=criptografia',
                type: 'POST',
                data: formData,
                dataType: 'html',
                success: function (data) {
                    $("#resultado").val(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                }
            });
        });
       
    });
</script>